@font-face {
  font-family: 'MainFont'; /* Choose a name for the font */
  src: url('Game\ Of\ Squids.ttf') format('truetype'); /* Preferred format */
  font-weight: normal; /* Specify the weight (e.g., normal, bold) */
  font-style: normal;  /* Specify the style (e.g., normal, italic) */
}
html{
  font-size: 1vw;
}
body{
  font-family: 'MainFont';
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 101vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective-origin: center;
  position: relative;
}
#header{
  position: fixed;
  z-index: 10230123;
  top:0;
  left:0;
  width: 100vw;
  height: 6rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 5rem;
}
#logo{
  font-size: 3rem;
  cursor: default;
  user-select: none;
}

#header-options{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.header-options{
  cursor: pointer !important;
  pointer-events: auto !important;
  user-select: text !important;
  cursor: pointer !important;
  position: relative;
}
.header-options::after{
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  bottom: 0.2rem;
  height: 0.2rem;
  background-color: currentColor;
  transition: width 0.3s,right 0.3s ; 
}
.header-options:hover::after{
  width: 100%;
  right:0;
}
#contact-us{
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 7.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: transparent;
  color: white;
  transition: background-color 0.15s, color 0.15s;
}
#contact-us:hover{
  background-color: white;
  color:black
}
#body{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 3rem;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
}
#intro-text{
  margin-bottom: -0.5rem;
}
#our-work{
  font-size: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.1rem solid white;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: background-color 0.25s, color 0.25s;
}
#our-work:hover{
  background-color: white;
  color: black;
}
#audio-button{
  position: fixed;
  left: 1.5rem;
  bottom: 1rem;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
}
#audio-button:hover{
  background-color: rgb(235,235,235);
}
#audio-icon{
  width: 1.5rem;
}
#background {
  position: fixed;
  top: 50%;
  left: 50%; 
  width: 108vw; 
  height: 108vh;
  background-image: url('pngtree-animated-3d-landscape-art-video-image_2651989 (1).jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) translateZ(-500px); 
  z-index: -1;
  transition: transform 0.1s ease;
}
::selection {
  background-color: #ffcc00; 
  color: #000;
}
.three-toggle{
  user-select: none;
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  transition: background-color 0.5s, color 0.5s, border 0.5s
}
.three-toggle:hover{
  background-color: transparent;
  color: white;
  border: 0.1rem solid white;
}
.three-toggle:active{
  opacity:0.9;
}
.three-off{
  user-select: none;
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  transition: background-color 0.5s, color 0.5s, border 0.5s
}
.three-off:hover{
  background-color: white;
  color: black;
  border: 0.1rem solid white;
}
.three-off:active{
  opacity:0.9;
}
.demo{
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
  width: 30rem;
  height: 17.5rem;
  border-radius: 3rem;
  position: relative;
  background-size: cover;
  z-index: 111231123123123412341234104980419873041987320491872302;
  cursor: pointer;
  box-sizing: content-box;
  transition: width 0.2s, height 0.2s;
}

#examples-page{
  display:none;
  gap: 10rem;
  z-index: 13120938102940284102938;
  opacity: 0;
  margin-left: 10rem;
  transition :opacity 0.5s, margin-left 0.5s;
}
 /* .demo .shadow {
    position: absolute;
    aspect-ratio: 960/300;
    width:100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url(wave-haikei\ \(1\).svg);
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
  }
  .demo:hover .shadow{
    background-image: url(wave-haikei.svg);
    background-color: black;
  }
  .demo #shadow1{
    background-image: url(wave-haikei\ \(1\).svg);;
  }*/
  .demo .view{
    position: absolute;
    bottom: 1rem;
    left:40%;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ad003a;
    border-radius: 1rem;
    opacity: 0;
    user-select: none;
    transition: opacity 0.2s
  }
  .demo:hover{
    width: 30.5rem;
    height:17.75rem;
  }
  .demo:hover .view{
    opacity: 1;
  }
  .demo .view:hover{
    opacity: 0.85;
  }
  .example-name{
    position: absolute;
    bottom: 3.5rem;
    left: 28%;
    text-align: left;
    z-index: 10
  }
  
  #services-page{
    display: none;
    gap: 20rem;
    position: relative;
    opacity: 0;
  margin-top: 10rem;
  transition :opacity 0.5s, margin-top 0.5s;
  }
  .services-slot{
  }
  #basic{
    background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff5050);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #advanced{
    background: linear-gradient(90deg, #ff5050,  #ffd900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #addon{
    background: linear-gradient(90deg, #ffd900,  #ffc476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .services-tier{
    user-select: none;
  }
  .services-desc{
    font-size: 1.5rem;
  }
  #notes{
    position: absolute;
    bottom: -15rem;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ::-webkit-scrollbar{
    display: none;
  }
#about-us-page{
  display:none;
  width: 40rem;
  margin-right: 10rem;
  opacity: 0;
  transition: margin-right 0.5s, opacity 0.5s;
}
#about-us-title{
  text-decoration: underline;
  background: linear-gradient(90deg, #ffb27e, #ffd375, #fcff50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}
#game{
  background: linear-gradient(90deg, #ffb27e, #ffd375, #fcff50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    user-select: none;
}
#about-us-body{
  border-top: 5px solid white;
  font-size: 1rem;
  padding-top: 1rem;
}

